<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo">
        <h1>Welcome, {{ username }}</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('view_results') }}">View Results</a></li>
                <li><a href="{{ url_for('student_logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Available Quizzes</h2>
        <ul>
            {% for quiz in quizzes %}
                <li>
                    <a href="{{ url_for('attempt_quiz', quiz_id=quiz.id) }}">{{ quiz.name }}</a> - {{ quiz.category.name }}
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Aptitude Driven Career Application. All rights reserved.</p>
    </footer>
</body>
</html>